<settings>    
    <servers>        
        <server>
            <id>s3.artifacts.release</id>
            <username>AKIAZYQRAH6BTPJELKFS</username>
            <password>kTtGFz+DLEtkyUlAR9bw8s66+TAWMRw/DpaqKOx2</password>
        </server>
        <server>
            <id>s3.artifacts.snapshot</id>
            <username>AKIAZYQRAH6BTPJELKFS</username>
            <password>kTtGFz+DLEtkyUlAR9bw8s66+TAWMRw/DpaqKOx2</password>
        </server>
    </servers>    
</settings>
